body {
  scrollbar-color: #282c34;
}
body::-webkit-scrollbar-track {
  background: #282c34;        /* color of the tracking area */
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.results {
 overflow-y: scroll;
 min-width: 300px;
}