.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}
.results {
  padding: 10px;
  justify-content: flex-start;
  overflow-y: scroll;
  min-width: 300px;
}
.results.center {
  justify-content: center;
}